# Azure AD Service Principal Settings (n8n 容器內用於呼叫 Power BI API)
TENANT_ID=your_tenant_id_here
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here

# Postgres DB Settings
POSTGRES_USER=n8n_db_user
POSTGRES_PASSWORD=n8n_db_password
POSTGRES_DB=n8n_db

# n8n Settings
N8N_ENCRYPTION_KEY=my_secret_key_change_me
GENERIC_TIMEZONE=Asia/Taipei

#DingTalk Bot Token
DINGTALK_BOT=dingTalk_bot_token